
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.0/socket.io.js'></script>
</head>

<body>
    <div id="container">
        <!-- <canvas id="canvasOutput"></canvas> -->
        <video autoplay="true" id="videoElement"></video>
        <img id="image" width="400" height="300">
    </div>

    <div>
        <p id = "inferred_class">
        </p>
    </div>

    <script src = "{{url_for('static', filename='main.js')}}">
    </script>

</body>

</html>